<!-- Loaders on the page while fetching data -->
<front-end-internship-assignment-loader *ngIf="isLoading ==='loading'"
  class="tw-grid tw-place-content-center tw-h-full tw-w-full"></front-end-internship-assignment-loader>

<!-- -------------------------Error Handaling Section--------------------- -->
<div *ngIf="errorMessage" class="tw-grid tw-place-content-center tw-h-full tw-w-full">
  <h1 class="tw-font-black">OOP'S</h1>
  <h2 class="tw-font-extrabold">Something went wrong:</h2>
  <h3>{{ errorMessage }}</h3>
</div>

<div *ngIf="isLoading === 'completed' && allBooks.length > 0">
  <!-- Back button to Go back to the home page from the Trending Subject page -->
  <a class="tw-grid tw-place-content-center tw-h-full tw-px-6 tw-border-none tw-py-2 tw-rounded-lg tw-mt-10 hover:tw-cursor-pointer"
    style="text-decoration: none" href="javascript:void(0)" (click)="goBack()">
    <button class="background">BACK TO HOME</button>
  </a>
  <front-end-internship-assignment-table-view [booksList]="allBooks"
    [subjectName]="subjectName"></front-end-internship-assignment-table-view>
</div>